# Telegram
BOT_TOKEN=8644972915:AAGHRdj5_4zy19bGzIavTQH6W5frt5dyHys
PAYMENT_PROVIDER_TOKEN=your_payment_provider_token

# Marzban
MARZBAN_URL=https://your-panel.example.com
MARZBAN_USERNAME=admin
MARZBAN_PASSWORD=your_password

# Mini App URL (для кнопки в боте)
WEBAPP_URL=https://your-tma.vercel.app

# Поддержка
SUPPORT_USERNAME=vex_support
